{% extends 'base.html' %}

{% block titulo %}
    Inicio de sesión
{% endblock %}

{% block contenido %}
    <h1>vulnerable</h1>
    <button id="boton" class="boton_main">boton</button>
    <button id="url" class="boton_main">url</button>
    <button id="html" class="boton_main">html</button>
    <!-- se que hay errores semanticos pero es por animos de la practica JAJAJAJAJ -->
    <main id="contenidoUsuario"></main>

    <script src="{{url_for('static', filename='js/vulnerable.js')}}"></script>
{% endblock %}
